@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'BoschSans';
        font-weight: 400;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Regular-v5_003.ttf');
    }
    @font-face {
        font-family: 'BoschSans';
        font-weight: 500;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Medium-v5_003.ttf');
    }
    @font-face {
        font-family: 'BoschSans';
        font-weight: 600;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Bold-v5_003.ttf');
    }
    
}

:root{
    --bosch-white: #ffffff;
    --bosch-gray-50: #71767c;
    --bosch-gray-40: #595e62;
    --bosch-gray-30: #43464a;
}

*{
    font-family: 'BoschSans';
}

#tableUser::-webkit-scrollbar{
    width: 6px;
    background-color: rgb(245, 245, 245);
}

#tableUser::-webkit-scrollbar-thumb {
    background: #cecece;
}

#menu-dropdown::-webkit-scrollbar {
    background-color: #fff;
    width: 0.5rem;
}

#menu-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--bosch-gray-50);
    height: 0.375rem;
}

#menu-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: var(--bosch-gray-40);
}

#menu-dropdown::-webkit-scrollbar-thumb:active {
    background-color: var(--bosch-gray-30);
}

#menu-dropdown::-webkit-scrollbar-track {
    margin: 0.25rem;
}