@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'BoschSans';
        font-weight: 400;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Regular-v5_003.ttf');
    }
    @font-face {
        font-family: 'BoschSans';
        font-weight: 500;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Medium-v5_003.ttf');
    }
    @font-face {
        font-family: 'BoschSans';
        font-weight: 600;
        src: url('./fonts/boschsans-v5_003/fonts-ttf/BoschSans-Bold-v5_003.ttf');
    }
    
}

*{
    font-family: 'BoschSans';
}



#menu-dropdown {

}

#menu-dropdown::-webkit-scrollbar {
    background-color: transparent;
}
